/**
 * Created by hardikranjan on 03/05/20.
 */
@charset "UTF-8";
/** Media query */
@media only screen and (max-width: 1024px) {
  .download-button-padding {
    padding-bottom: 1rem !important;
    padding-left: 2rem !important; }
  .select-padding {
    padding-top: .5rem; } }

.decimal-list {
  list-style: decimal !important; }

.bullet-list {
  list-style: unset; }

body {
  color: #646464; }

.background-grey {
  background: #ececec; }

.business-screen-modal {
  width: 75rem !important;
  max-width: 100% !important; }

.license-card {
  height: 14rem; }

.radio-button-width {
  width: 6rem; }

.border {
  padding: 4px;
  border: 1px solid #d3dbf5; }

.help-link {
  font-size: 14px;
  color: #1d49cc;
  padding-top: 2%;
  margin-left: 50px; }

.pr10 {
  padding-right: 10px; }

.m-l-4 {
  margin-left: 4%; }

.m-t-22 {
  margin-top: 22px; }

.f-left {
  float: left; }

.d-flex {
  display: flex; }

.d-block {
  display: block !important; }

.margin-auto {
  margin-left: auto;
  margin-right: auto; }

.d-inline-block {
  display: inline-block !important; }

.justify-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

.w-100 {
  width: 100%; }

.background-grey {
  background-color: rgba(100, 100, 100, 0.1); }

.has-shadow {
  box-shadow: 4px 1px 2px 1px rgba(0, 0, 0, 0.05); }

.outline {
  outline: thin #d9dfe2 solid; }

.list-style-dot {
  list-style-type: disc;
  margin-left: 1rem; }

.text-right {
  text-align: right; }

.text-orange {
  color: #f37021; }

.text-uppercase {
  text-transform: uppercase; }

.slds-button + .slds-button {
  margin-left: 1.25rem; }

.bg-white {
  background-color: #ffffff; }

.align-flex-end {
  align-items: flex-end; }

/* overrides */
.slds-col_padded,
.slds-col--padded {
  padding: 0 !important; }

/* overrides */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  background: #fcfeff;
  font-size: 100%;
  font-family: Roboto, sans-serif !important;
  line-height: 1.4;
  height: unset; }

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  transition: all .2s linear; }

.container {
  width: 93%;
  margin-left: 3%;
}

.text-color-dark {
  color: #353535; }

.pill-color {
  background-color: #e7f2ff; }

.text-color {
  color: #646464; }

.text-brand {
  color: #128ec3; }

.text-success {
  color: #39b54a; }

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-weight: normal;
  line-height: 1.2; }

.h1,
h1 {
  font-size: 3.75rem; }

.h2,
h2 {
  font-size: 3.125rem; }

.h3,
h3 {
  font-size: 2.5rem; }

.h4,
h4 {
  font-size: 2.1875rem; }

.h5,
h5 {
  font-size: 1.75rem; }

.h6,
h6 {
  font-size: 1.5rem; }

.caption {
  font-size: 0.75rem;
  text-transform: uppercase; }

.text-small,
.small,
small {
  font-size: 0.875rem; }

.text-smaller,
.smaller {
  font-size: 0.75rem; }

.text-uppercase {
  text-transform: uppercase; }

.text-500 {
  font-weight: 500; }

.text-bold {
  font-weight: bold; }

.has-underline {
  text-decoration: underline; }

button,
.slds-button {
  border-radius: 0 !important; }

.slds-button_brand {
  border-color: #128ec3;
  background-color: #128ec3;
  background-image: linear-gradient(to bottom, #128ec3, #128ec3); }

.slds-button_outline-brand {
  border-color: #128ec3;
  color: #128ec3; }
  .slds-button_outline-brand:hover, .slds-button_outline-brand:focus {
    border-color: #128ec3;
    background-color: #128ec3;
    background-image: linear-gradient(to bottom, #128ec3, #128ec3);
    color: white; }

.slds-button_secondary,
.slds-button--secondary {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d9dbdd;
  transition: border 0.15s linear;
  background-color: #0070d2;
  border-color: #0070d2;
  color: white;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #f2f4f7;
  background-image: linear-gradient(to bottom, #f2f4f7, #ffffff);
  color: #454f57; }
  .slds-button_secondary:link, .slds-button_secondary:visited, .slds-button_secondary:active,
  .slds-button--secondary:link,
  .slds-button--secondary:visited,
  .slds-button--secondary:active {
    color: white; }
  .slds-button_secondary:hover, .slds-button_secondary:focus,
  .slds-button--secondary:hover,
  .slds-button--secondary:focus {
    background-color: #005fb2;
    border-color: #005fb2;
    color: white; }
  .slds-button_secondary:active,
  .slds-button--secondary:active {
    background-color: #005fb2;
    border-color: #005fb2; }
  .slds-button_secondary:link, .slds-button_secondary:visited, .slds-button_secondary:active,
  .slds-button--secondary:link,
  .slds-button--secondary:visited,
  .slds-button--secondary:active {
    color: #454f57; }
  .slds-button_secondary:hover, .slds-button_secondary:focus,
  .slds-button--secondary:hover,
  .slds-button--secondary:focus {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #f2f4f7;
    background-image: linear-gradient(to bottom, #f2f4f7, #ffffff);
    color: #454f57; }
  .slds-button_secondary:active,
  .slds-button--secondary:active {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #f2f4f7;
    background-image: linear-gradient(to bottom, #f2f4f7, #ffffff); }

  .slds-button--secondary:disabled {
    background: #c9c7c5;
    border-color: #c9c7c5;
    color: white; }

.slds-button_outline-secondary {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d9dbdd;
  transition: border 0.15s linear;
  border-color: #d8dde6;
  background-color: white;
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff; }
  .slds-button_outline-secondary:hover, .slds-button_outline-secondary:focus {
    background-color: #f4f6f9; }
  .slds-button_outline-secondary:active {
    background-color: #eef1f6; }
  .slds-button_outline-secondary:hover, .slds-button_outline-secondary:focus {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #f2f4f7;
    background-image: linear-gradient(to bottom, #f2f4f7, #ffffff);
    color: #454f57; }
   .slds-button_outline-secondary:disabled {
    border-color: #d9dbdd;
    color: #d9dbdd;
    background-color: white; }

.slds-checkbox_add-button {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px; }
  .slds-checkbox_add-button label {
    cursor: pointer; }
  .slds-checkbox_add-button .img-white {
    display: none; }
  .slds-checkbox_add-button .cap-content {
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row; }
    .slds-checkbox_add-button .cap-content .text {
      padding-left: 10px;
      text-align: left;
      display: flex;
      align-items: center;
      font-size: 15px;
      z-index: 1; }
    .slds-checkbox_add-button .cap-content .img, .slds-checkbox_add-button .cap-content .img-white {
      z-index: 1; }
  .slds-checkbox_add-button .slds-checkbox_add-button-cap {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #dee4f8;
    transition: background-color 0.2s; }
  .slds-checkbox_add-button input[type="checkbox"]:checked ~ .cap-content .img-white {
    display: block; }
  .slds-checkbox_add-button input[type="checkbox"]:checked ~ .cap-content .img {
    display: none; }
  .slds-checkbox_add-button input[type="checkbox"]:checked ~ .slds-checkbox_add-button-cap {
    background: #0e3cc8;
    border: 1px solid #0e3cc8; }
  .slds-checkbox_add-button input[type="checkbox"]:checked ~ .cap-content .text {
    color: white; }

.slds-table {
  font-size: 1rem !important;
  border: solid 1px rgba(100, 100, 100, 0.1); }
  .slds-table thead {
    border-width: 0; }
    .slds-table thead tr {
      border-width: 0;
      padding: 0 30px; }
      .slds-table thead tr th {
        background-color: rgba(100, 100, 100, 0.05);
        padding: 24px .5rem;
        font-size: 0.875rem; }
        .slds-table thead tr th .slds-truncate {
          font-weight: 900;
          color: #353535; }
  .slds-table tbody tr td {
    padding-top: 12px;
    padding-bottom: 12px; }

.has-pointers {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05);
  margin-top: 1rem;
  margin-bottom: 1rem; }

.slds-card {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05) !important;
  background-color: #ffffff !important;
  padding: 24px 30px !important;
  border-radius: 0 !important;
  border-width: 0 !important; }
  .slds-card.is-small {
    padding: 12px 20px !important; }
  .slds-card.is-large {
    padding: 50px !important; }
  .slds-card.is-actionable {
    cursor: pointer; }
    .slds-card.is-actionable:hover {
      box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1) !important; }
  .slds-card.is-low-priority {
    background-color: rgba(100, 100, 100, 0.1) !important;
    box-shadow: none !important; }
  .has-pointers .slds-card {
    box-shadow: none !important; }
  .slds-card .actions {
    border-left: 1px solid rgba(157, 157, 157, 0.3); }
  .slds-card.has-label {
    padding-left: 60px !important;
    position: relative; }

  .slds-card__content {
    min-height: 176px; }
  .slds-card__header, .slds-card__body {
    padding: 30px; }
  .slds-card hr {
    margin: 1rem 0; }
  .slds-card__header {
    background-color: rgba(100, 100, 100, 0.05);
    margin-bottom: 24px; }
  .slds-card__pointers li::before {
    content: "";
    background-color: #952f00;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem; }
  .slds-card__label {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
    padding: 5px; }
    .slds-card__label p {
      transform: rotate(-90deg) translate(-50%, 50%);
      white-space: nowrap;
      transform-origin: left center; }
    .slds-card__label.is-success, .slds-card__label.in-review, .slds-card__label.in-progress, .slds-card__label.is-submitted, .slds-card__label.is-approved, .slds-card__label.is-expired, .slds-card__label.is-denied, .slds-card__label.is-withdrawn {
      color: #ffffff; }
    .slds-card__label.is-success {
      background-color: #009508; }
    .slds-card__label.in-review {
      background-color: #f37021; }
    .slds-card__label.in-progress {
      background-color: #00263e; }
    .slds-card__label.is-submitted {
      background-color: #128ec3; }
    .slds-card__label.is-approved {
      background-color: #128ec3; }
    .slds-card__label.is-expired {
      background-color: #f2f4f7; }
    .slds-card__label.is-denied, .slds-card__label.is-withdrawn {
      background-color: #952f00; }

.slds-context-bar {
  background-color: #ffffff;
  color: #353535;
  height: 3.75rem;
  border-width: 0;
  box-shadow: 4px 2px 4px 2px rgba(0, 0, 0, 0.05);
  padding: 0; }
  .slds-context-bar__item {
    background-color: transparent !important; }
    .slds-context-bar__item:hover {
      background-color: transparent !important; }
  .slds-context-bar .slds-button_icon-border-filled {
    border-width: 0; }

.slds-context-bar__secondary {
  flex: unset; }

.d-flex {
  display: flex; }

.justify-space-between {
  justify-content: space-between; }

.slds-context-bar__item:last-of-type {
  padding: 1rem 0; }

.slds-dropdown-trigger .slds-button--icon-border-filled,
.slds-dropdown-trigger .slds-button_icon-border-filled {
  background-color: transparent; }

.footer > *:not(hr) {
  margin-top: 0.5rem; }

.footer img {
  margin-left: auto;
  margin-right: auto; }

.footer__list li {
  display: inline-block;
  margin-left: 0.8rem; }
  .footer__list li a:not(.text-brand), .footer__list li a:not(.text-brand):link, .footer__list li a:not(.text-brand):visited, .footer__list li a:not(.text-brand):hover, .footer__list li a:not(.text-brand):active {
    color: #646464;
    text-decoration: none; }
  .footer__list li::before {
    content: '|';
    display: inline-block;
    margin-right: 0.8rem; }
  .footer__list li:first-of-type::before {
    display: none; }

.slds-modal__header,
.slds-modal__footer {
  border-radius: 0; }

.slds-modal__footer {
  background-color: #fff;
  border-width: 0; }

.small-card-width {
  width: 27.5rem;
  margin: 0 auto; }

/* Variables */
/** Checks for ABC and KCPE */
/* Timeline */
.timeline {
  border-left: 2px solid #dfe4f2;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: fade(#000, 3%);
  color: fade(white, 80%);
  margin-left: 25px;
  letter-spacing: 0.5px;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  line-height: 1.4em;
  font-size: 14px;
  padding: 0 25px;
  list-style: none;
  text-align: left;
  counter-reset: li-counter; }
  .timeline .event {
    padding-bottom: 17.5px;
    position: relative;
    padding-top: 17.5px;
    counter-increment: li-counter; }
    .timeline .event:after {
      border: 5px solid white;
      position: absolute;
      display: block;
      top: 0;
      box-shadow: 0 0 0 4px fade(#dfe4f2, 100%);
      left: -43px;
      background: #cdcfd0;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      content: "";
      top: 5px;
      color: black;
      top: 10px;
      text-align: center;
      content: counter(li-counter);
      color: #444444;
      padding-top: 4px; }
    .timeline .event.completed {
      color: #128ec3; }
      .timeline .event.completed:after {
        background: #128ec3;
        padding-top: 4px;
        color: white;
        content: '✓';
        text-align: center; }
    .timeline .event.active {
      color: #00273e;
      font-weight: bold; }
      .timeline .event.active:after {
        background-color: #000;
        color: white; }
    .timeline .event:first-of-type {
      padding-top: 7.5px; }
      .timeline .event:first-of-type:after {
        top: -2px; }
    .timeline .event:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none; }
      .timeline .event:last-of-type:after {
        top: 10px;
        bottom: 0; }

.slds-tabs_default__nav {
  width: 100%;
  background: white;
  border-bottom: 0; }
  .slds-tabs_default__nav .slds-tabs_default__item a {
    text-decoration: none; }
  .slds-tabs_default__nav .slds-tabs_default__item.slds-is-active {
    color: #0730bc; }
  .slds-tabs_default__nav .slds-tabs_default__item:after {
    background-color: #0730bc; }

.slds-form-element__label,
.slds-checkbox .slds-form-element__label,
.slds-radio .slds-form-element__label {
  font-size: 1rem!important; }

.auth-wrap {
  padding: 3rem;
  min-height: 100vh; }
  .auth-wrap.sidebar {
    background-image: url("/assets/images/KCPE/sidebar.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .auth-wrap.main {
    padding: 50px;
    background-color: #fefbff; }

.login-text {
  font-size: 0.8rem; }

.slds-form-element__help{
    color: rgb(194, 57, 52);
}

.pillSize {
    width : 100%;
}

.do-disable button{
    display: none;
}

.do-disable {
    background-color: rgb(233, 234, 236);
    border-color: rgb(196, 198, 202);
}

.btn-disabled, .btn-disabled:hover {
    border-color: #d4d4d4;
    color: rgb(217, 219, 221);
    background-color: rgb(255, 255, 255);
    background-image: none;
}

.buttongroup_style{
    padding: 2rem 1rem;
}
.input_style{
    padding: 1rem;
}
.heading_header_registration{
  margin-bottom: 1rem;
  padding:2rem 0;
  background-color: white;
}
.registration_card_header{
  padding: 1rem 2rem 1rem 2rem;
  background: #eee;
  font-size: 16px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .heading_header_registration{
    padding:2rem 1rem;
  }
  .app-sidebar{
    display:none;
  }
  .has-header {
    margin: 1rem;
  }
}
.instructionPanel{
  margin-bottom: 2%;
  padding: 1%;
}

.backButton{
  margin-right: 2%;
}

.app-content{
  padding-left: 1rem;
}

.newfooter {
  background: #f1f1f1;
  padding: 1rem 0rem;
  position: fixed;
  bottom: 0;
  width: 102%;
  margin-left: -2%;
  text-align: center;
}

.buttonPanel{
  margin-top: 1%;
}

.brief_card {
  background: #526475;
    font-size: 14px;
    color: White;
}

.card-base{
  margin-top: 1.5rem;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.card-base:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}