.brief_card {
    background: #526475;
    font-size: 14px;
    color: White;
}

.instructionPanel{
    margin-bottom: 1%;
}
  
.card-base{
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    
.card-base:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.padding-horizontal {
    padding: 0 1rem 0 1rem;
}