<template>
    <div class="header_container_spacing">
        <div class="slds-grid slds-gutters">
            <div class="slds-context-bar navBar" style="height: 4rem">
                <div class="slds-col slds-size_8-of-12">
                    <img src={logo}/>
                </div>
                <div class="slds-col slds-size_4-of-12 slds-float_right center_align_item">
                    <div >
                        <div class="container only-mobile" onclick={showMenu}>
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
                                  
                        <nav class="slds-context-bar__secondary only-web slds-float_right" role="navigation" data-id="menu-items">
                            <ul class="slds-grid grid__right menu-items">
                                
                                <li class="slds-context-bar__item slds-context-bar__label-action menu-item active">
                                    <span class="slds-truncate" title="Home">Welcome {userName}</span>
                                </li>
                                <li class="slds-context-bar__item  menu-item">
                                    <div class="notify-container">
                                        <span class="notify-bubble">3</span>
                                        <a onclick={openNotification}>
                                            <svg aria-hidden="true" focusable="false" width="15px" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path fill="white" d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z"></path>
                                            </svg>
                                        </a>
                                        
                                    </div>
                                    <div class="notification slds-hidden" id="notify">
                                        <div class="notification-font">
                                        <div>
                                            <span>
                                                <svg aria-hidden="true" width="20px" focusable="false" data-prefix="fas" data-icon="user-circle" class="svg-inline--fa fa-user-circle fa-w-16 notification-icon-user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path></svg>
                                            </span>
                                            Inspection has been requeted for Work order <br/><b>AWO-0058.</b><br/><br/><div class="notification-time-stamp">2 Hours ago</div></div>
                                            <hr class='notification-hr'>
                                        <div>
                                            <span>
                                                <svg aria-hidden="true" width="20px" focusable="false" data-prefix="fas" data-icon="user-circle" class="svg-inline--fa fa-user-circle fa-w-16 notification-icon-user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path></svg>
                                            </span>
                                            Payment has been requested for Re-Inspection <br/><b>I-00234.</b><br/><br/><div class="notification-time-stamp">2 Hours ago</div></div>
                                            <hr class='notification-hr'>
                                        <div>
                                            <span>
                                                <svg aria-hidden="true" width="20px" focusable="false" data-prefix="fas" data-icon="user-circle" class="svg-inline--fa fa-user-circle fa-w-16 notification-icon-user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path></svg>
                                            </span>
                                            <b>Farman has mentioend you in a post</b> <br/> @Alex Smith A-00044 has been approved<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; please notify subcontractors.<br/><br/><div class="notification-time-stamp">8 Hours ago</div></div>
                                            <hr class='notification-hr'>
                                        </div>
                                    </div>
                                </li>
                                <li
                                    class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click  menu-item">
                                    <a onclick={gotoHomePage} class="slds-context-bar__label-action" title="Menu Item">
                                        <span class="slds-truncate" title="Menu Item">Home</span>
                                    </a>
                                </li>
                                <div class="textcolor" if:true ={myProfile} >
                                <li class="slds-context-bar__item  menu-item">
                                    <a onclick={goToMyProfile} class="slds-context-bar__label-action " title="Menu Item">
                                        <span class="slds-truncate" title="Menu Item">My Profile</span>
                                    </a>
                                </li>
                                
                            </div>
                            <div class="textcolor" if:true ={logout} >
                                <li class="slds-context-bar__item  menu-item">
                                    <a href="/secur/logout.jsp" class="slds-context-bar__label-action" title="Menu Item">
                                        <span class="slds-truncate" title="Menu Item">Logout</span>
                                    </a>
                                </li>
                            </div>
                           
                            <div class="textcolor" if:true ={login} >
                                    <li class="slds-context-bar__item  menu-item">
                                        <a href="/s/permitting-login" class="slds-context-bar__label-action" title="Menu Item">
                                            <span class="slds-truncate" title="Menu Item">Login</span>
                                        </a>
                                    </li>
                                </div>
                            </ul> 
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="header-height"></div>

</template>