.navBar {
    background-color: #92cf91;
    width: 100%;
    border-bottom: 0px solid transparent;
}

.center_align_item {
    margin: auto;
    /* align-content: flex-end; */
}

/* nav>ul>li { */
/*     color: #fff; */
/* } */

/* .textcolor{ */
/*     color:#fff; */
/* } */

img {
    position: absolute;
    /* height: auto; */
    width: 20rem;
    height: 3rem;
    top: 0.5rem;
    left: 1rem;
}

.header_container_spacing {
    padding: 0 .75rem !important;
    width: 100%;
    position: fixed;
    margin-bottom: 3.5rem;
}

.header-height{
    height: 4rem;
}


/* Menu bar only for mobile */

.container {
    display: none;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    pointer-events: none;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* Media queries */

@media only screen and (max-width: 768px) {
    .only-mobile {
        display: inline-block;
    }
    nav {
        display: none;
    }
    .menu-items {
        display: block;
        background: #22a7de;
        position: absolute;
        margin-top: 2rem;
        right: 0rem;
    }
    .container {
        right: 5%;
        position: absolute;
        top: 1rem;
    }
    .menu-item {
        padding: .5rem;
    }
    .menu-item .active {
        border-right: 2px solid white;
    }
    img {
    width: 5rem;
    height: 5rem;
}
}

/* Notofications */

.notify-container {
    position: relative;
      display: inline-block;
      padding: 0rem 1rem;
  }
  
    .notify-bubble {
      position: absolute;
      top: -8px;
      right: 8px;
      padding: 2px 5px 2px 6px;
      background-color:red;
      color: white;
      font-size: 0.65em;
      border-radius: 50%;
      box-shadow: 1px 1px 1px gray;
    }

    .notification {
        width: 260px;
        height: 255px;
        left: -93px;
        top: -4px;
        background-color: #FFF;
        color: black;
        padding: 20px;
        position: absolute;
        margin: 40px;
      box-shadow: 1px 0 3px rgba(0,0,0,.25);
      background-color: white;
    }

    .notification-time-stamp{
        color: gray !important;
    }
    
    .notification:after {
      content: " ";
      position: absolute;
      z-index: 9001;
        width: calc(1.25rem + .0625rem);
        height: calc(1.25rem + .0625rem);
        transform: rotate(45deg);
        border-top: 1px solid #d8dde6;
        border-left: 1px solid #d8dde6;
        background: #fff;
        position: absolute;
        top: -9px;
        left: 70px;
    }

    .notification-icon-user{
        float: left !important;
        padding-right: 4px !important;
    }

    .notification-hr{
        margin-top: 10px !important;
        margin-bottom: 3px !important;
    }

    .notification-font{
        font-size: x-small;
    }

    li.menu-item {
        padding: 0rem .2rem;
    }
    .slds-context-bar__item:not(.slds-no-hover):hover::after{

        mix-blend-mode: color;
        background: transparent;
    }