<template>
    <div class="slds-card__header">
        <h6 class="text-500">Submit Application: {appNo}</h6> 
    </div>
    <div class="slds-grid">
        <div class="slds-col slds-size_1-of-1">
            <p>{Portal_Submission_Submission_Message}</p>
        </div>
    </div>    
</template>