<!--
 - Created by hardikranjan on 03/05/20.
 -->

<!-- lp_cancel_permit_information -->
<template>
    <div class="card-div">
        <div class="slds-text-heading_small slds-text-title_bold slds-border_bottom">
            Application Information
        </div> <br />
        <div class="input-check slds-form-element slds-form-element_horizontal">
            <div class="slds-form-element_horizontal slds-form-element" ><span
                    data-aria="true" class="slds-assistive-text"></span><label
                    for="input-32" class="slds-form-element__label slds-no-flex">Application #</label>
                <div class="slds-form-element__control slds-grow"><input
                        type="text" id="input-32" name="License__c" class="slds-input"></div>
            </div>
        </div>
        <div class="input-check slds-form-element slds-form-element_horizontal">
            <div class="slds-form-element_horizontal slds-form-element" ><span
                    data-aria="true" class="slds-assistive-text"></span><label
                    for="input-33" class="slds-form-element__label slds-no-flex">Description</label>
                <div class="slds-form-element__control slds-grow">
                    <textarea id="input-33" class="slds-textarea"  rows="3"></textarea>
                </div>
            </div>
        </div>

    </div>
</template>