<!--
 - Created by hardikranjan on 03/05/20.
 -->

<!-- lp_application_work_order -->
<template>
    <template if:true={isShowSpinner}>
        <lightning-spinner class="spinner-element" alternative-text="Loading" size="large"></lightning-spinner>
    </template>
    <lightning-card title="">
        <div slot="title">
            <div class="slds-align_absolute-left">
                <lightning-button name="Save" label="New" variant="brand" onclick={handleAddNewWorkOrder}>
                </lightning-button>
                <!--<template if:true={showRequestInspection}>-->
                <lightning-button class="slds-p-left_medium" disabled={showRequestInspection} name="Request Inspection"
                                  label="Request Inspection" variant="brand" onclick={handleAddInspection}>
                </lightning-button>
                <!--</template>-->
            </div>
        </div>
        <div class="slds-table_edit_container slds-is-relative">
            <!-- Application Work Order List Start Here  -->
            <table aria-multiselectable="true"
                   class="slds-table slds-no-cell-focus slds-table_bordered slds-table_edit slds-table_fixed-layout slds-table_resizable-cols"
                   role="grid" style="width: 100%;">
                <thead>
                <tr class="slds-line-height_reset">
                    <template for:each={columnConfiguration} for:item="column">
                        <th key={column.fieldApiName} scope="col" class="slds-is-resizable">
                            <div
                                    class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate column-padding">
                                <div class="slds-truncate slds-text-body_medium slds-p-around_xx-small slds-p-left_x-large"
                                     title={column.heading}>
                                    {column.heading}
                                </div>
                            </div>
                        </th>
                    </template>
                    <th scope="col" style="width: 7rem;">
                        <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate column-padding">
                            <div class="slds-truncate slds-text-body_medium slds-p-around_xx-small slds-p-left_x-large"
                                 title="INSPECTION">
                                INSPECTION
                            </div>
                        </div>
                    </th>
                    <th scope="col" style="width: 6rem;">
                        <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate column-padding">
                            <div class="slds-truncate slds-text-body_medium slds-p-around_xx-small slds-p-left_x-large"
                                 title="ACTION">
                                ACTION
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody if:false={showMessage}>
                <template for:each={workOrders} for:item='item'>
                    <tr class="slds-hint-parent" key={item.workOrder.record.Id}>
                        <td role="gridcell" style="word-break:break-word;white-space: normal;padding:0 !important">
                            <div class="work-order__padding">
                                {item.workOrder.record.Name}
                            </div>
                        </td>
                        <td role="gridcell" style="word-break:break-word;white-space: normal;padding:0 !important">
                            <div class="slds-p-around_xx-small"> {item.workOrder.record.Work_Order_Type__c}</div>
                        </td>
                        <td role="gridcell" style="word-break:break-word;white-space: normal;padding:0 !important">
                            <div class="status__padding"> {item.workOrder.record.Status__c}</div>
                        </td>
                        <template if:true={item.workOrder.record.Application_Contact__r}>
                            <td role="gridcell"
                                style="word-break:break-word;white-space: normal;padding:0 !important">
                                <div class="slds-p-around_xx-small">
                                    {item.workOrder.record.Application_Contact__r.Contact__r.Name}
                                </div>
                            </td>
                        </template>
                        <td role="gridcell" style="word-break:break-word;white-space: normal;padding:0 !important">
                            <div class="slds-p-around_xx-small">
                                <lightning-formatted-date-time year="numeric" month="numeric" day="numeric"
                                                               value={item.workOrder.record.Last_Notified_Date__c}>
                                </lightning-formatted-date-time>
                            </div>
                        </td>
                        <td role="gridcell" class="slds-p-around_xx-small">
                            <a data-id={item.workOrder.record.Id} onclick={handleInspectionModal}>View Detail</a>
                        </td>
                        <td role="gridcell" style="width:170px;" class="slds-p-around_xx-small">
                                <span class="iconHeightWidth"
                                      data-subcontractorid={item.workOrder.record.Application_Contact__c}
                                      data-value="edit" data-id={item.workOrder.record.Id}
                                      data-status={item.workOrder.record.Status__c} onclick={handleEdit}>
                                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="edit"
                                         class="svg-inline--fa fa-edit fa-w-18" role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path
                                            fill="currentColor"
                                            d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path></svg>
                                </span>&nbsp;
                            <span class="iconHeightWidth" data-value="notify" if:true={item.showNotifyIcon}
                                  data-id={item.workOrder.record.Id} onclick={handleEdit}>
                                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="flag"
                                         class="svg-inline--fa fa-flag fa-w-16" role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path
                                            fill="currentColor"
                                            d="M336.174 80c-49.132 0-93.305-32-161.913-32-31.301 0-58.303 6.482-80.721 15.168a48.04 48.04 0 0 0 2.142-20.727C93.067 19.575 74.167 1.594 51.201.104 23.242-1.71 0 20.431 0 48c0 17.764 9.657 33.262 24 41.562V496c0 8.837 7.163 16 16 16h16c8.837 0 16-7.163 16-16v-83.443C109.869 395.28 143.259 384 199.826 384c49.132 0 93.305 32 161.913 32 58.479 0 101.972-22.617 128.548-39.981C503.846 367.161 512 352.051 512 335.855V95.937c0-34.459-35.264-57.768-66.904-44.117C409.193 67.309 371.641 80 336.174 80zM464 336c-21.783 15.412-60.824 32-102.261 32-59.945 0-102.002-32-161.913-32-43.361 0-96.379 9.403-127.826 24V128c21.784-15.412 60.824-32 102.261-32 59.945 0 102.002 32 161.913 32 43.271 0 96.32-17.366 127.826-32v240z"></path></svg>
                                </span>&nbsp;
                            <span class="iconHeightWidth" data-value="delete" data-id={item.workOrder.record.Id}
                                  onclick={handleEdit}>
                                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt"
                                         class="svg-inline--fa fa-trash-alt fa-w-14" role="img"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path
                                            fill="currentColor"
                                            d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"></path></svg>
                                </span>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
            <div if:true={showMessage} class="slds-align_absolute-center slds-p-around_small">
                No Records found.
            </div>
            <!-- Application Work Order List End Here  -->
        </div>
    </lightning-card>
    <template if:true={showConfirmation}>
        <c-lp_modal classes='slds-modal newModal slds-fade-in-open zindex9004'
                    backdrop-class="slds-backdrop slds-backdrop_open zindex9003">
            <span slot="header">Confirmation</span>
            <div slot="body">
                <span>Do you want to delete this record?</span>
            </div>
            <div slot="footer">
                <lightning-button name="Delete" label="Yes" variant="brand" onclick={deleteWorkOrder}>
                </lightning-button>&nbsp;
                <lightning-button class="slds-p-right_xx-small" name="No" label="Cancel"
                                  onclick={closeDeleteConfirmationModal}>
                </lightning-button>
            </div>
        </c-lp_modal>
    </template>
    <template if:true={isShowInspectionModal}>
        <c-lp_inspection_detail_modal work-id={workOrderId} onclosemodal={handleCloseModal}>
            '
        </c-lp_inspection_detail_modal>
    </template>
    <template if:true={showEditModal}>
        <!-- <c-psr_modal classes='slds-modal newModal slds-fade-in-open zindex9004'
        backdrop-class="slds-backdrop slds-backdrop_open zindex9003" hide-footer=true>
        <span slot="header">
            <template if:true={isEditModal}>
                Edit Appliation Work Order
            </template>
            <template if:false={isEditModal}>
                New Appliation Work Order
            </template>
        </span>
        <div slot="body">
            <lightning-record-edit-form object-api-name={WORK_ORDER_OBJECT} record-id={workOrderId} onsubmit={handleFormSubmit} style="width: 100%;" onsuccess={refreshTableData}>
                <div class="slds-card__header slds-grid slds-wrap slds-gutters_direct-x-small">
                    <div
                        class="slds-form-element slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_12-of-12 vehicle-div">
                        <lightning-input-field field-name={STATUS_FIELD} name="Status" value={statusValue}></lightning-input-field>
                    </div>
                    <div
                        class="slds-form-element slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_12-of-12 vehicle-div">
                        <lightning-input-field field-name={TYPE_FIELD} name="Work Order Type"></lightning-input-field>
                    </div>
                    <c-psr-contact-typeahead oncontactselect={handleContactSelect} app-id={recordId}></c-psr-contact-typeahead>
                </div>
            </div>
                    <div slot="footer">
                        <div class="slds-float_right slds-p-right_medium">
                            <lightning-button class="slds-m-right_medium" name="cancel" label="Cancel" onclick={closeEditModal}>
                            </lightning-button>
                            <lightning-button name="Save" label="Save" variant="brand" class="slds-p-right_xx-small" type="submit">
                            </lightning-button>
                        </div>
                    </div>
            </lightning-record-edit-form>
    </c-psr_modal> -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                 aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <template if:true={isEditModal}>
                        <h2 class="slds-text-heading_small">Edit Application Work Order</h2>
                    </template>
                    <template if:false={isEditModal}>
                        <h2 class="slds-text-heading_small">New Application Work Order</h2>
                    </template>
                </header>
                <div class="slds-modal__content" id="modal-content-id-1">
                    <div class="padding-horizontal  slds-m-around_small">
                        <c-lp_help_text help-text={Portal_Add_New_Work_Order_Help_Text}></c-lp_help_text>
                    </div>
                    <div class="slds-p-around_xx-small">
                        <lightning-record-edit-form object-api-name={WORK_ORDER_OBJECT} record-id={workOrderId}
                                                    onsubmit={handleFormSubmit} style="width: 100%;"
                                                    onsuccess={refreshTableData}>
                            <div class="slds-grid slds-m-top_medium slds-wrap">
                                <div
                                        class="slds-form-element slds-col slds-col-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_12-of-12 vehicle-div">
                                    <lightning-input-field field-name={TYPE_FIELD} name="Work Order Type">
                                    </lightning-input-field>
                                </div>
                                <div
                                        class="slds-form-element slds-col slds-col-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_12-of-12 vehicle-div">
                                    <lightning-input-field field-name={DESCRIPTION_FIELD} name="Description">
                                    </lightning-input-field>
                                </div>
                                <template if:true={isEditModal}>
                                    <div
                                            class="slds-form-element slds-col slds-col-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_12-of-12 vehicle-div">
                                        <lightning-input-field field-name={STATUS_FIELD} name="Status"
                                                               value={statusValue}></lightning-input-field>
                                    </div>
                                </template>
                                <div
                                        class="slds-form-element slds-col slds-col-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_12-of-12 vehicle-div contact-field slds-p-horizontal_xx-small">
                                    <!--                                    <c-psr-contact-typeahead oncontactselect={handleContactSelect} app-id={recordId} selected-contact-id={applicationContactId}>-->
                                    <!--                                    </c-psr-contact-typeahead>-->
                                    <!-- <lightning-input-field field-name={CONTACT_FIELD}></lightning-input-field> -->
                                </div>
                                <div
                                        class="slds-form-element slds-col slds-col-size_1-of-1 slds-medium-size_4-of-12 slds-large-size_12-of-12 vehicle-div slds-p-horizontal_xx-small slds-p-bottom_x-large slds-m-top_small">
                                    <label class="slds-form-element__label"
                                           for="Would you like to auto notify subcontractor once permit is issued?">Would
                                        you like to auto notify subcontractor once permit is issued?</label>
                                    <lightning-input-field field-name={NOTIFY_FIELD} variant="label-hidden">
                                    </lightning-input-field>
                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                <lightning-button class="slds-m-top_small" label="Cancel" onclick={closeEditModal}>
                                </lightning-button>
                                <lightning-button class="slds-m-top_small slds-p-left_small" variant="brand"
                                                  type="submit" label="Save"></lightning-button>
                            </footer>
                        </lightning-record-edit-form>
                    </div>
                </div>
            </div>
            <!--<footer class="slds-modal__footer">
                <lightning-button label="Cancel" variant="neutral" onclick={handleCloseModal}></lightning-button>
            </footer>-->
            <!--            </div>-->
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>