/**
 * Created by hardikranjan on 03/05/20.
 */
.work-order__padding {
    padding-left: 0.25rem;
}

.status__padding {
    padding-left: 0.35rem;
}

.slds-modal__container {
    max-width: 39rem !important;
}

.slds-modal__content {
    overflow: visible;
}
.iconHeightWidth > svg {
    width: 20px !important;
    height: 20px !important;
}
.iconHeightWidth {
    cursor: pointer;
}

/* Table for all pages*/
table {
    background: #fff;
  }

  table, thead, tbody, tfoot, tr, td, th {
    text-align: left;
    margin: auto;
    border: 1px solid #f3f3f3;
    padding: .2rem;
  }

  .tr {
    display: table-row;
  }

  .thead {
    display: table-header-group;
  }

  .tbody {
    display: table-row-group;
  }

  .tfoot {
    display: table-footer-group;
  }

  .col {
    display: table-column;
  }

  .colgroup {
    display: table-column-group;
  }

  .td, .th {
    display: table-cell;
    width: 50%;
  }

  .caption {
    display: table-caption;
  }

  .table,
  .thead,
  .tbody,
  .tfoot,
  .tr,
  .td,
  .th {
    text-align: left;
    margin: auto;
    padding: .5rem;
  }

  .table {
    background: #fff;
    margin: auto;
    border: none;
    padding: 0;
    margin-bottom: 5rem;
  }

  .th {
    font-weight: 700;
    border: 1px solid #dedede;
  }


  .td {
    font-weight: 300;
    border: 1px solid #dedede;
    border-top: none;
  }
  .td:nth-child(odd) {
    border-right: none;
  }
th{
    background-color: #115BB1 !important;
    color: white !important;
    margin-top: 1rem !important;
    padding: .2rem  !important;
}