<!--
 - Created by hardikranjan on 03/05/20.
 -->

<!-- lp_instructions -->
<template>
    <div class="slds-card has-header slds-p-around_medium card-div">
        <div class="slds-m-bottom_x-large">
            <h6 class="text-500 slds-m-bottom_small">Step 1 - Lorem ipsum dolor sit amet.</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="slds-m-bottom_x-large">
            <h6 class="text-500 slds-m-bottom_small">Step 2 - Lorem ipsum dolor sit amet.</h6>
            <p class="slds-m-bottom_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="list-style-dot">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            </ul>
        </div>

        <div class="slds-m-bottom_x-large">
            <h6 class="text-500 slds-m-bottom_small">Step 3 - Lorem ipsum dolor sit amet.</h6>
        </div>
    </div>
</template>