<template>
    <div class="header_container_spacing">
        <div class="slds-grid slds-gutters">
            <div class="slds-context-bar navBar" style="height: 4rem">
                <div class="slds-col slds-size_8-of-12">
                    <img src={logo} style="width:15rem;height:4rem;" />
                </div>
                <div class="slds-col slds-size_4-of-12 slds-float_right center_align_item">
                    <div >
                        <nav class="slds-context-bar__secondary only-web slds-float_right" role="navigation" data-id="menu-items">
                            <ul class="slds-grid grid__right menu-items">
                                <div class="textcolor" >
                                    <li class="slds-context-bar__item  menu-item">
                                        <a href="/permitting-login" class="slds-context-bar__label-action" title="Menu Item">
                                            <span class="slds-truncate" title="Menu Item">Login</span>
                                        </a>
                                    </li>
                                </div>
                            </ul> 
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="header-height"></div>

</template>