<template>
    <lightning-card>
        <!-- <lightning-datatable columns={columns}
                             data={data}
                             key-field="id"
                             hide-checkbox-column="true"
                             show-row-number-column="false"
                             onrowaction={handleRowAction}></lightning-datatable> -->
        <div slot="title">
            <div class="slds-align_absolute-left"> 
                <lightning-button variant="Brand" label="Add Contact" onclick={onAddContact} ></lightning-button>
            </div>
        </div>
        <table aria-multiselectable="true"
        class="slds-table slds-no-cell-focus slds-table_bordered slds-table_edit slds-table_fixed-layout slds-table_resizable-cols"
        role="grid" style="width: 100%;">
            <thead>
                <tr class="slds-line-height_reset">
                    <th scope="col" class="slds-is-resizable">
                        <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate column-padding">
                            <div class="slds-truncate slds-text-body_medium slds-p-around_xx-small" title="Name">
                                CONTACT NAME
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="slds-is-resizable">
                        <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate column-padding">
                            <div class="slds-truncate slds-text-body_medium slds-p-around_xx-small" title="Email">
                                EMAIL
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="slds-is-resizable">
                        <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate column-padding">
                            <div class="slds-truncate slds-text-body_medium slds-p-around_xx-small" title="Company Name">
                                COMPANY NAME
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="slds-is-resizable">
                        <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate column-padding">
                            <div class="slds-truncate slds-text-body_medium slds-p-around_xx-small" title="Contact Type">
                                CONTACT TYPE
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="slds-is-resizable" style="width:100px;">ACTION</th>
                </tr>
            </thead>
            <tbody>
                <template for:each={data} for:item='item'>
                    <tr class="slds-hint-parent" key={item.id}>
                        <td role="gridcell" style="word-break:break-word;white-space: normal;padding:0 !important">
                            <div class="slds-p-around_xx-small">
                                {item.name}
                            </div>
                        </td>
                        <td role="gridcell" style="word-break:break-word;white-space: normal;padding:0 !important">
                            <div class="slds-p-around_xx-small">
                                {item.email}
                            </div>
                        </td>
                        <td role="gridcell" style="word-break:break-word;white-space: normal;padding:0 !important">
                            <div class="slds-p-around_xx-small">
                                {item.companyName}
                            </div>
                        </td>
                        <td role="gridcell" style="word-break:break-word;white-space: normal;padding:0 !important">
                            <div class="slds-p-around_xx-small">
                                {item.type}
                            </div>
                        </td>
                        <td role="gridcell" >
                            <span class="iconHeightWidth" data-value="edit" data-id={item.id} data-contactid={item.contactId} onclick={handleRowAction}>
                                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path></svg>
                            </span>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div if:true={showMessage} class="slds-align_absolute-center slds-p-around_small">
            No Records found.
        </div>
        <div class="slds-p-around_medium" if:true={isOpenModal}>
            <template if:true={isOpenModal}>
                <c-lp_new_contact onclosemodal={handleCloseModal} contact-id={selectedContactId} application-contact-id={applicationContactId}></c-lp_new_contact>
            </template>
        </div>
    </lightning-card>
</template>