table thead tr th{
    background-color: #115BB1 !important;
    color: white !important;
    margin-top: 1rem !important;
    padding: .5rem  !important;
    border: 1px solid #f3f3f3;
}
table{
    padding: -24px -30px!important;
}