<!--
 - Created by hardikranjan on 03/05/20.
 -->

<!-- lp_location_fetcher -->
<template>
    <div class="rel">
        <br/>
        <div>
            <div class="slds-size_1-of-1 slds-form-element__control slds-grow slds-input-has-icon slds-input-has-icon_left-right">
                <div>
                    <lightning-input
                            class="cityInputSearch" label="Address or location search"
                            name="Address or location search" type="text" value={location}
                            onchange={getCities}>
                    </lightning-input>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                         class="slds-input__icon slds-input__icon_left slds-icon-text-default svg-inline--fa" role="img"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                    </svg>
                </div>
            </div>

            <div aria-hidden="true">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="question-circle"
                     class="svg-inline--fa fa-question-circle fa-w-16 circle_help slds-m-right_xx-small" role="img"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                          d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"></path>
                </svg>
                <span style="font-size: 0.85rem !important;">
                Search by a location name or address to automatically populate the address fields below (optional)
            </span>
            </div>
        </div>

        <div if:true={checkPrediction} class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid"
             role="listbox">
            <ul class="city_predictions">
                <template for:each={predictions} for:item='prediction'>
                    <li role="presentation" key={prediction.place_id} class="slds-listbox__item">
                        <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                             role="option">
                            <span class="slds-media__figure slds-listbox__option-icon"></span>
                            <span class="slds-media__body">
                            <span class="slds-truncate" onclick={getCityDetails}
                                  data-placeid={prediction.place_id}>{prediction.description}</span>
                            </span>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</template>