/**
 * Created by hardikranjan on 03/05/20.
 */

 .svg-inline--fa {
    width: 1rem;
    height: 1rem;
 }

 .slds-input__icon {
 	top : 70% !important;
 }

 .rel {
 	position : relative;
 }


 .city_predictions .slds-media__body {
 	font-size: .85rem;
     font-weight: 400;
     font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
 }

 .slds-dropdown {
	top: 72px;
 }