/**
 * Created by hardikranjan on 03/05/20.
 */
.work-order__padding {
  padding-left: 0.25rem;
}
.slds-modal__content {
  overflow: visible;
}
.slds-modal__container {
  min-width: 67rem !important;
}
.accordion_heading{
  background-color: #115BB1 !important;
  color: white !important;
  margin-top: 1rem !important;
  padding: .5rem  !important;
}
/* Table for all pages*/
table {
  background: #fff;
}

table, thead, tbody, tfoot, tr, td, th {
  text-align: left;
  margin: auto;
  border: 1px solid #f3f3f3;
  padding: .5rem;
}

.tr {
  display: table-row;
}

.thead {
  display: table-header-group;
}

.tbody {
  display: table-row-group;
}

.tfoot {
  display: table-footer-group;
}

.col {
  display: table-column;
}

.colgroup {
  display: table-column-group;
}

.td, .th {
  display: table-cell;
  width: 50%;
}

.caption {
  display: table-caption;
}

.table,
.thead,
.tbody,
.tfoot,
.tr,
.td,
.th {
  text-align: left;
  margin: auto;
  padding: .5rem;
}

.table {
  background: #fff;
  margin: auto;
  border: none;
  padding: 0;
  margin-bottom: 5rem;
}

.th {
  font-weight: 700;
  border: 1px solid #dedede;
}


td {
  font-weight: 300;
  border: 1px solid #dedede;
  border-top: none;
  overflow-x: auto;
white-space: pre-wrap;
word-wrap: break-word;
}
.td:nth-child(odd) {
  border-right: none;
}

th{
  background-color: #115BB1 !important;
  color: white !important;
  margin-top: 1rem !important;
  padding: .5rem  !important;
}
.non-compliant{
  background:#F9EDBA;
}
.non-compliant_sub{
  background: #FEF7E2;
  border: 1px solid #F4DF7D !important;
}
.compliant{
background:white;
}

.sub_myTable th, .sub_myTable td{
background: #fef7e2 !important;
  color: black !important;
  margin-top: 1rem !important;
  padding: .5rem  !important;
}
.gray_bg th{
background: #ccc !important;
  color: black !important;
}

.inner-inner-table  .inner-inner-tr table{
width :100%;
}