<template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <!-- Save and Exit Button-->
    <div class="has-shadow slds-p-vertical_medium slds-m-bottom_medium heading_header_registration">
        <div class="container d-flex justify-space-between">
            <h5>{getHeading}</h5>
            <template if:true={showSaveAndExitButtons}>
                <lightning-button
                        variant="Neutral"
                        label="Save and Exit"
                        onclick={handleClick}
                        class="slds-m-left_x-small"
                >
                </lightning-button>
            </template>
        </div>
    </div>

    <div class="container">
        <div class="app-container slds-grid slds-gutters slds-wrap">
            <!-- Side Steps Nav Bar Start -->
            <div class="app-sidebar slds-col slds-size_1-of-1 slds-large-size_2-of-12">
                <c-lp_new_permit_flow_steps
                        current-step={currentStep}
                        original-step={originalStep}
                        is-licensed-user={isLicensedUser}
                        is-provider={isProvider}
                ></c-lp_new_permit_flow_steps>
            </div>
            <!-- Side Steps Nav Bar End -->
            <div class="app-content slds-size_1-of-1 slds-large-size_10-of-12">
                <div if:true={enableLicenseValidation}>
                    <c-lp_help_text help-text={Portal_License_Validation_Help_Text}></c-lp_help_text>
                    <c-lp_license_validation
                            disabled-fields={isReadOnly}
                    ></c-lp_license_validation>
                </div>

                <div if:true={enableInstructions}>
                    <c-lp_help_text help-text={Portal_Instructions_Help_Text}></c-lp_help_text>
                    <c-lp_instructions></c-lp_instructions>
                </div>

                <div if:true={enableAddress}>
                    <c-lp_help_text help-text={Portal_Site_Information_Help_Text}></c-lp_help_text>
                    <c-lp_address_site_validation
                            disabled-fields={isReadOnly}
                    ></c-lp_address_site_validation>
                </div>

                <div if:true={enableAppInformation}>
                    <c-lp_help_text help-text={Portal_Application_Information_Help_Text}></c-lp_help_text>
                    <c-lp_application_information
                            disabled-fields={isReadOnly}
                    ></c-lp_application_information>
                </div>

                <div if:true={enablePrimaryContact}>
                    <div class="contactList">
                        <c-lp_help_text help-text={Portal_Contacts_Help_Text}></c-lp_help_text>
                        <c-lp_contact_list
                                onclosemodal={handleCloseModal}
                        ></c-lp_contact_list>
                    </div>
                </div>

                <div if:true={enableDocuments}>
                    <c-lp_help_text help-text={Portal_Documents_Help_Text}></c-lp_help_text>
                    <div class="slds-card has-header slds-p-around_medium">
                        <c-lp_document_details></c-lp_document_details>
                    </div>
                </div>

                <div if:true={enablePayment}>
                    <c-lp_help_text help-text={Portal_Payment_Help_Text}></c-lp_help_text>
                    <div class="slds-card has-header slds-p-around_medium">
                        <c-lp_payments disabled-fields={isReadOnly}></c-lp_payments>
                    </div>
                </div>

                <div if:true={enableSubmission}>
                    <c-lp_help_text help-text={Portal_Payment_Help_Text}></c-lp_help_text>
                    <div class="slds-card has-header slds-p-around_medium">
                        <c-lp_submission></c-lp_submission>
                    </div>
                </div>
            </div>
        </div>
        <!-- Back and Next Buttons Section -->
        <div class="buttonPanel">
            <lightning-button
                    if:true={enableSubmitButton}
                    variant="Brand"
                    label="Submit"
                    onclick={handleSubmit}
                    class="slds-float_right"
            ></lightning-button>
            <lightning-button
                    if:true={enableNextButton}
                    variant="Brand"
                    label="Next"
                    onclick={handleNextButton}
                    class="slds-float_right"
            ></lightning-button>
            <lightning-button
                    if:true={enableBackButton}
                    variant="Neutral"
                    label="Back"
                    onclick={handleBackButton}
                    class="slds-float_right backButton"
            ></lightning-button>
        </div>
    </div>

    <!--<div class="slds-m-top_large text-center newfooter">
      <p>Copyright © 2020 State of New Mexico - All rights reserved.</p>
  </div>-->
</template>