<!--
 - Created by hardikranjan on 03/05/20.
 -->

<!-- lp_technical_support -->
<template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <c-lp_sidebar selected-tab="Request Permit Type" show-footer>
        <div slot="body">
            <div class="tab slds-m-around_large">
                <div class="has-shadow slds-p-vertical_medium slds-m-bottom_x-large bg-white"
                     style="margin-bottom: 0px;">
                    <div class="container d-flex justify-space-between">
                        <div class="d-flex justify-space-between">
                            <h4 class="header-pane-title">My Cases</h4>
                        </div>
                    </div>
                </div>

                <c-lp_help_text help-text={Portal_Helpdesk_Help_Text}></c-lp_help_text>

                <div class="container license-grid">
                    <lightning-button variant="Neutral" label="New" onclick={openModal}>
                    </lightning-button>
                </div>

                <div class="slds-grid slds-wrap bottom_spacing_div">
                    <table style="margin-top: 20px;" class="slds-table">
                        <tr class="table_header_brand">
                            <td><b>Case Number</b></td>
                            <td><b>Subject</b></td>
                            <td><b>Status</b></td>
                            <td><b>Type</b></td>
                            <td><b>Created Date</b></td>
                            <td><b>Actions</b></td>
                        </tr>
                        <template for:each={cases} for:item="item">
                            <tr key={item.CaseNumber}>
                                <td>{item.CaseNumber}</td>
                                <td>{item.Subject}</td>
                                <td>{item.Status}</td>
                                <td>{item.Type}</td>
                                <td>
                                    <lightning-formatted-date-time value={item.CreatedDate} time-zone="UTC">
                                    </lightning-formatted-date-time>
                                </td>
                                <td>
                                    <lightning-button disabled={item.isClosed} data-status={item.Status}
                                                      variant="brand-outline" label="Close Case" onclick={closeCase}
                                                      data-caseid={item.Id}
                                                      class="slds-m-left_x-small button_spacing"></lightning-button>
                                    <lightning-button variant="brand" label="Discussion" onclick={openChatter}
                                                      data-caseid={item.Id}
                                                      class="slds-m-left_x-small"></lightning-button>
                                </td>
                            </tr>
                        </template>
                    </table>
                </div>
            </div>
        </div>
    </c-lp_sidebar>

    <c-lp_new_case if:true={isNewCase} onclose={closeModal}>
    </c-lp_new_case>
    <c-lp_chatter_window if:true={isChatterModalOpen} onclose={closeModal} record-id={caseId}
                         heading-label="Collaborative Discussion"></c-lp_chatter_window>

</template>