<!--
 - Created by hardikranjan on 03/05/20.
 -->

<!-- lp_chatter_window -->
<template>
    <lightning-card title="">
        <div style="height: 500px;width:52rem !important;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                     aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" style="max-width: 70rem;width: 45rem;">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close"
                                            size="medium">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate"> {headingLabel}</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <div class="slds-m-around_medium">
                            <iframe width="800" height="400" frameborder="0" src={fullUrl}></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </lightning-card>
</template>