<template>
    <!--<template if:true={isOpenModal}>-->
        <div style="">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleCloseModal}>
                            <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{header}</h2>
                    </header>
                    <div class="slds-modal__content" id="modal-content-id-1">
                        <div class="padding-horizontal slds-m-around_small">
                            <c-lp_help_text help-text={Portal_Add_New_Contact_Help_Text} ></c-lp_help_text>
                        </div>
                        <div class="">
                            
                            
                            <lightning-record-edit-form object-api-name="Contact" onsubmit={handleSubmit}>
                                    <lightning-messages>
                                    </lightning-messages>
                                    <lightning-record-edit-form object-api-name="Application_Contacts__c" >
                                            <lightning-messages>
                                            </lightning-messages>
                                            <div class="slds-grid">
                                                <div class="slds-col slds-size_1-of-2">
                                                    <lightning-input-field field-name="Company_Name__c" required value={contact.companyName}></lightning-input-field>
                                                </div>
                                                <div class="slds-col slds-size_1-of-2" >
                                                    <lightning-input-field field-name="Contact_Type__c" value={contact.type}></lightning-input-field>
                                                </div>
                                            </div>
                                    </lightning-record-edit-form>
                                    <div class="slds-grid">
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="FirstName" value={contact.firstName}></lightning-input-field>
                                        </div>
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="LastName" required value={contact.lastName} onchange={handleMaxLength}></lightning-input-field>
                                        </div>
                                    </div>
                                    <div class="slds-grid">
                                        <div class="slds-col slds-size_1-of-2">
                                            <lightning-input-field field-name="Email" required onchange={matchExisting} value={contact.email}></lightning-input-field>
                                        </div>
                                        <div class="slds-col slds-size_1-of-2">
                                            <label class="slds-form-element__label">Phone</label>
                                            <lightning-input-field field-name="Phone" value={contact.phone} variant="label-hidden"></lightning-input-field>
                                        </div>
                                    </div>
                                    <footer class="slds-modal__footer">
                                        <lightning-button class="slds-m-top_small" label="Cancel" onclick={handleCloseModal}></lightning-button>
                                        <lightning-button class="slds-m-top_small slds-p-left_small" variant="brand" type="submit" label="Save"></lightning-button>
                                    </footer>
                            </lightning-record-edit-form>
                        </div>
                    </div>
                    <!--<footer class="slds-modal__footer">
                        <lightning-button label="Cancel" variant="neutral" onclick={handleCloseModal}></lightning-button>
                    </footer>-->
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    <!--</template>-->
</template>