.pageTextCenter {
    text-align: center;
    padding-top: 1rem;
}

.smallerColumns{
    width: 8rem;
}

.bottom_spacing_div{
    margin-bottom: 4rem;
}

/* Table for all pages*/
table {
  background: #fff;
}

table, thead, tbody, tfoot, tr, td, th {
  text-align: left;
  margin: auto;
  border: 1px solid #f3f3f3;
  padding: .5rem;
}

.tr {
  display: table-row;
}

.thead {
  display: table-header-group;
}

.tbody {
  display: table-row-group;
}

.tfoot {
  display: table-footer-group;
}

.col {
  display: table-column;
}

.colgroup {
  display: table-column-group;
}

.td, .th {
  display: table-cell;
  width: 50%;
}

.caption {
  display: table-caption;
}

.empty-message{
  width: 30%;
  margin-left: 33%;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-top: 10%;
  display: block;
  border: solid 1px lightgray;
  border-radius: 6px;
}

.empty-message-text{
  margin-top: 2%;
  margin-bottom: 2%;
}

.table,
.thead,
.tbody,
.tfoot,
.tr,
.td,
.th {
  text-align: left;
  margin: auto;
  padding: .5rem;
}

.table {
  background: #fff;
  margin: auto;
  border: none;
  padding: 0;
  margin-bottom: 5rem;
}

.th {
  font-weight: 700;
  border: 1px solid #dedede;
}


.td {
  font-weight: 300;
  border: 1px solid #dedede;
  border-top: none;
}
.td:nth-child(odd) {
  border-right: none;
}

th{
  background-color: #115BB1 !important;
  color: white !important;
  margin-top: 1rem !important;
  padding: .5rem  !important;
}
td th{
  background-color: rgb(217, 233, 250) !important;
  color: rgb(0, 26, 56) !important;
  padding: .5rem  !important;
}

/* Added By Ajith */
.accordion {
  cursor: pointer;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  display: none;
}
.calander_style h2{

  font-size: 1rem !important;
}
.calander_style table td{
  padding: 0rem !important;
}