<template>
    <div class="backdrop" if:true={showSpinner}>  
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner> 
        </div>
    </div> 
    <c-lp_sidebar selected-tab="Fill Non-Compliance Corrective Actions" show-footer> 
        <div slot="body" class="bottom_spacing_div">
            <div class="pageTextCenter">
                <span>
                    <h2>Submit Corrective Actions</h2>
                </span>
            </div>
            <br/>
            <c-lp_help_text help-text={Portal_Corrective_Action_Help_Text}></c-lp_help_text>
            <template if:true={isdata}>
                <div class="container license-grid slds-p-around_small">
                    <lightning-button disabled={hideSubmit} variant="brand" label="Submit" onclick={handleSave}> 
                    </lightning-button>
                    <lightning-button disabled={hideSubmit} variant="Neutral" label="Save" onclick={handleOnlySave} class="slds-p-left_small">
                    </lightning-button>
                    <lightning-button variant="Neutral" label="Save and return to home" onclick={handleSaveAndHome} class="slds-p-left_small">
                    </lightning-button>
                </div>
                
                    <table class="slds-table slds-table_bordered slds-table_resizable-cols slds-table_fixed-layout slds-table_col-bordered slds-table_striped" >
                        <thead>
                            <tr class="slds-line-height_reset">
                                <th class="slds-truncate slds-text-align_left slds-cell-wrap">
                                    Inspection Number
                                </th>
                                <th class="slds-truncate slds-text-align_left slds-cell-wrap">Inspection Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={inspectionRecords} for:index="indexParent" for:item="parent">
                            <tr key={parent.parentId}>
                                <td class="slds-truncate slds-cell-wrap slds-cell-buffer_right">
                                    <template if:false={parent.showChilds}>
                                        <lightning-icon class="slds-m-right_medium" data-pid={parent.parentId} size="x-small" icon-name="utility:add" alternative-text="Expand" onclick={handleExpand}></lightning-icon>
                                    </template>
                                    <template if:true={parent.showChilds}>
                                        <lightning-icon class="slds-m-right_medium" data-pid={parent.parentId} size="x-small" icon-name="utility:dash" alternative-text="Expand" onclick={handleCollapse}></lightning-icon>
                                    </template>
                                    {parent.name}  
                                </td>

                                <!-- update time zone  for I-16153 -->
                                <td class="slds-truncate slds-cell-wrap slds-cell-buffer_right">
                                    <lightning-formatted-date-time value={parent.inspectionDate} year="numeric" month="numeric" day="numeric" time-zone="UTC"></lightning-formatted-date-time>    
                                </td>
                                <!-- update time zone  for I-16153 -->
                            </tr>
                            <tr key={parent.parentId}>
                                <template if:true={parent.showChilds}>
                                    <td colspan="2">
                                        <table class="slds-table slds-table_bordered slds-table_resizable-cols slds-table_fixed-layout slds-table_col-bordered slds-table_striped" key={parent.parentId}>
                                            <thead>
                                                <tr class="slds-line-height_reset">
                                                    <th class="slds-truncate slds-text-align_left slds-cell-wrap smallerColumns">Item Number</th>
                                                    <th class="slds-truncate slds-text-align_left slds-cell-wrap">Observations</th>
                                                    <th class="slds-truncate slds-text-align_left slds-cell-wrap">Correction Plan</th>
                                                    <th class="slds-truncate slds-text-align_left slds-cell-wrap" style="width:10rem;">Date Implemented</th>
                                                    <th class="slds-truncate slds-text-align_left slds-cell-wrap">Corrective Action Feedback</th> 
                                                    <th class="slds-truncate slds-text-align_left slds-cell-wrap smallerColumns">Documents</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <template for:each={parent.items} for:index="indexChild" for:item="child"> 
                                                    <tr key={child.recId}>
                                                        <td data-label={child.name} class="slds-truncate slds-cell-wrap slds-cell-buffer_right">
                                                            {child.name}
                                                        </td> 
                                                        <td data-label={child.observations} class="slds-truncate slds-cell-wrap slds-cell-buffer_right">
                                                            {child.observations}
                                                        </td> 
                                                        <td data-label={child.correctionPlan} class="slds-truncate slds-cell-wrap slds-cell-buffer_right">
                                                            <lightning-textarea name="input1" value={child.correctionPlan} data-id={child.recId} onchange={bindCorrectionPlan}></lightning-textarea>
                                                        </td> 
                                                        <td data-label={child.dateImplemented} class="slds-truncate slds-cell-wrap slds-cell-buffer_right calander_style">
                                                            <div class="dateInsp">
                                                                <lightning-input class="calander_style" type="Date" value={child.dateImplemented} data-id={child.recId} onchange={bindDateImplemented}></lightning-input>
                                                            </div>

                                                        </td>
                                                        <td data-label={child.feedback} class="slds-truncate slds-cell-wrap slds-cell-buffer_right">
                                                            {child.feedback} 
                                                        </td>
                                                        <td class="slds-grid slds-cell-buffer_right" style="height: -webkit-fill-available;"> 
                                                            <div>
                                                                <lightning-button-icon onclick={handleFileUpload} icon-name="utility:upload"
                                                                alternative-text="Upload" style="margin-left: 5px;" data-recid={child.recId}> 
                                                                </lightning-button-icon>
                                                            </div>
                                                            <div>  
                                                                <lightning-button-icon onclick={handleViewFile} icon-name="utility:preview"
                                                                alternative-text="View Files" style="margin-left: 5px;" data-recid={child.recId}> 
                                                                </lightning-button-icon>
                                                            </div>
                                                        </td> 
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </td>
                                </template>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                
            </template>
            <template if:false={isdata}>
                <div class="empty-message">
                    <p class="empty-message-text">{Portal_Corrective_Action_No_Item_Text}</p>
                </div>
            </template>
            
            <c-lp_modal if:true={openFileModal} classes='slds-modal newModal slds-fade-in-open zindex9004'
            backdrop-class="slds-backdrop slds-backdrop_open zindex9003">
             <span slot="header">File Upload</span> 
             <div slot="body">
                <lightning-file-upload name="imageUploader" class="file-uploader"
                record-id={uploadFileRecId}>
                </lightning-file-upload>
                <div slot="footer" class="slds-m-top_medium">
                    <lightning-button class="slds-p-right_xx-small" name="cancel" label="Cancel"
                        onclick={cancelFileUploadModal}>
                    </lightning-button>
                </div>
            </div>   
            </c-lp_modal>
        </div>
    </c-lp_sidebar>
</template>