<!--
 - Created by hardikranjan on 03/05/20.
 -->

<!-- lp_cancel_permit_flow_steps -->
<template>
    <ol class="timeline">
        <li class={step0CSS} value="1" onclick={handleUserClicks}>Instructions</li>
        <li class={step1CSS} value="2" onclick={handleUserClicks}>Application Information</li>
    </ol>
</template>