<!--
 - Created by hardikranjan on 03/05/20.
 -->

<!-- lp_contractor_information -->
<template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <c-lp_sidebar selected-tab="Contractor Information" show-footer>
        <div slot="body">
            <div class="tab slds-m-around_large">
                <div class="has-shadow slds-p-vertical_medium slds-m-bottom_x-large bg-white"
                     style="margin-bottom: 0px;">
                    <div class="container d-flex justify-space-between">
                        <div class="d-flex justify-space-between">
                            <h4 class="header-pane-title">Application Status</h4>
                        </div>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-grid statuscard">
                                <div class="slds-col slds-size_1-of-3 approveddarken ">
                                                <span class="custom_icon">
                                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>
                                                    </span>
                                </div>
                                <div class="slds-col slds-size_2-of-3 approved">
                                    <div class="card-content">
                                        <div class="row">
                                            <h3 class="card-stats-number">10</h3>
                                            <p class="card-stats-heading">Approved</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-grid statuscard">
                                <div class="slds-col slds-size_1-of-3 submitteddarken">
                                                <span class="custom_icon">
                                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="clipboard-check" class="svg-inline--fa fa-clipboard-check fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM192 40c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm121.2 231.8l-143 141.8c-4.7 4.7-12.3 4.6-17-.1l-82.6-83.3c-4.7-4.7-4.6-12.3.1-17L99.1 285c4.7-4.7 12.3-4.6 17 .1l46 46.4 106-105.2c4.7-4.7 12.3-4.6 17 .1l28.2 28.4c4.7 4.8 4.6 12.3-.1 17z"></path></svg>
                                                    </span>
                                </div>
                                <div class="slds-col slds-size_2-of-3 submitted">
                                    <div class="card-content">
                                        <div class="row">
                                            <h3 class="card-stats-number">15</h3>
                                            <p class="card-stats-heading">Submitted</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-grid statuscard">
                                <div class="slds-col slds-size_1-of-3 draftdarken">
                                                <span class="custom_icon">
                                                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path></svg>
                                                    </span>
                                </div>
                                <div class="slds-col slds-size_2-of-3 draft">
                                    <div class="card-content">
                                        <div class="row">
                                            <h3 class="card-stats-number">05</h3>
                                            <p class="card-stats-heading">Draft</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <h4 class="header-pane-title">Contractor Information</h4>
                        </div>
                    </div>
                </div>
            </div>

            <lightning-record-form object-api-name="Account" record-id={accountInformation.Id}  fields={myFields} mode="readonly"
                                   onsuccess={handleSuccess} onsubmit={handleSubmit} columns="2">
            </lightning-record-form>
        </div>
    </c-lp_sidebar>
</template>